version: "3.9"

services:
  webapp:
    image: ${WEBAPP_IMAGE_NAME:-icpac/cgan-ui}
    container_name: ${WEBAPP_CNTR_NAME:-cgan-ui}
    build:
      context: .
      dockerfile: ${WEBAPP_DOCKERFILE:-Dockerfile}
      args:
        APP_DIR: ${APP_DIR:-/code}
        APP_STORE_DIR: ${APP_STORE_DIR:-/code/store}
        APP_USER_ID: ${APP_USER_ID:-10010}
        APP_GROUP_ID: ${APP_GROUP_ID:-10010}
    restart: ${RESTART_POLICY:-always}
    ports:
      - "${WEBAPP_HOST_IP:-172.17.0.1}:${WEBAPP_HOST_PORT:-6061}:8000"
